*{
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
}
body{
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
    .container{
        border: 2px solid rgba(0, 255, 0, 0.8);
        border-radius: 20px;
        max-width: 500px;
        margin: auto;
        box-shadow: 0px 0px 10px lime,0px 0px 10px lime inset;
        .display{
            box-shadow: 0px 0px 10px lime,0px 0px 10px lime inset;
            border: 2px solid rgba(0, 255, 0, 0.8);
            padding: 1em;
            margin: 2em;
            display: grid;
            grid-template-columns: 10% 90%;
            border-radius: 10px;
            &>div:nth-child(1){
                    font-size: 1.5rem;
                    font-weight: bolder;
                }
            &>div{
                text-align: right;
                font-size: 2rem;
                color: lime;
                text-shadow: 0px 0px 10px lime;
                
            }
            .number{
                display: flex;
                flex-direction: column;
                overflow: hidden;
                word-wrap: break-word;
                &>div:nth-child(2){
                    font-size: 1rem;
                    overflow: hidden;
                }
            }
        }
        .nums{
            display: grid;
            grid-template-columns: auto auto auto auto;
            grid-template-rows: auto auto auto auto auto auto;
            margin: 1em;
            &>div{
                border: 2px solid lime;
                padding: .5em;
                margin: .5em;
                box-shadow: 0px 0px 10px lime,0px 0px 10px lime inset;
                color: lime;
                text-align: center;
                text-shadow: 0px 0px 10px lime;
                font-size: 1.5rem;
                overflow: hidden;
                transition: 400ms;
                border-radius: 5px;
                &:hover{
                    color: black;
                    text-shadow: 0px 0px 10px black;
                    background-color: lime;
                }
            }
            &>div:nth-last-child(1){
                grid-area: 6/2 span;
            }
            &>div:nth-last-child(4){
                grid-area: 6/2 span;
            }
        }
    }
    
}