*{
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
}
body{
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
    .container{
        border: 2px solid rgba(0, 255, 0, 0.8);
        border-radius: 20px;
        max-width: 500px;
        margin: auto;
        box-shadow: 0px 0px 10px lime,0px 0px 10px lime inset;
        .display{
            box-shadow: 0px 0px 10px lime,0px 0px 10px lime inset;
            border: 2px solid rgba(0, 255, 0, 0.8);
            padding: .8em;
            margin: 2em;
            border-radius: 10px;
            color: lime;
            font-size: 1.5rem;
            text-align: center;
            text-shadow: 0px 0px 10px lime;
            word-wrap: break-word;
            background-color: black;
        }
        .nums{
            display: grid;
            grid-template-columns: auto auto auto auto;
            grid-template-rows: auto auto auto auto auto auto;
            margin: 1em;
            &>div{
                border: 2px solid lime;
                padding: .5em;
                margin: .5em;
                box-shadow: 0px 0px 10px lime,0px 0px 10px lime inset;
                color: lime;
                text-align: center;
                text-shadow: 0px 0px 10px lime;
                font-size: 1.5rem;
                overflow: hidden;
                transition: 400ms;
                border-radius: 5px;
                &:hover{
                    color: black;
                    text-shadow: 0px 0px 10px black;
                    background-color: lime;
                }
            }
            &>div:nth-last-child(1){
                grid-area: 6/2 span;
            }
            &>div:nth-last-child(4){
                grid-area: 6/2 span;
            }
        }
    }
    
}


.bg{
    width: 100vw;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    z-index: -1000;
    &>svg{
        width: 3rem;
        fill: yellow;
        position: relative;
    }
    &>svg:nth-child(1){
        animation: bg 1s infinite alternate;
        animation-delay: 100ms;
    }
    &>svg:nth-child(2){
        animation: bg 1s infinite alternate;
        animation-delay: 200ms;
    }
    &>svg:nth-child(3){
        animation: bg 1s infinite alternate;
        animation-delay: 300ms;
    }
    &>svg:nth-child(4){
        animation: bg 1s infinite alternate;
        animation-delay: 400ms;
    }
    &>svg:nth-child(5){
        animation: bg 1s infinite alternate;
        animation-delay: 500ms;
    }
    &>svg:nth-child(6){
        animation: bg 1s infinite alternate;
        animation-delay: 600ms;
    }
    &>svg:nth-child(7){
        animation: bg 1s infinite alternate;
        animation-delay: 700ms;
    }
    &>svg:nth-child(8){
        animation: bg 1s infinite alternate;
        animation-delay: 800ms;
    }
    &>svg:nth-child(9){
        animation: bg 1s infinite alternate;
        animation-delay: 900ms;
    }
    &>svg:nth-child(10){
        animation: bg 1s infinite alternate;
        animation-delay: 1000ms;
    }
    &>svg:nth-child(11){
        animation: bg 1s infinite alternate;
        animation-delay: 1100ms;
    }
    &>svg:nth-child(12){
        animation: bg 1s infinite alternate;
        animation-delay: 1200ms;
    }
    
}

.bg2{
    width: 100vw;
    position: fixed;
    bottom: 0;
    display: flex;
    z-index: -1000;
    justify-content: space-around;
    &>svg{
        width: 3rem;
        fill: yellow;
        position: relative;
    }
    &>svg:nth-child(1){
        animation: bg2 1s infinite alternate;
        animation-delay: 100ms;
    }
    &>svg:nth-child(2){
        animation: bg2 1s infinite alternate;
        animation-delay: 200ms;
    }
    &>svg:nth-child(3){
        animation: bg2 1s infinite alternate;
        animation-delay: 300ms;
    }
    &>svg:nth-child(4){
        animation: bg2 1s infinite alternate;
        animation-delay: 400ms;
    }
    &>svg:nth-child(5){
        animation: bg2 1s infinite alternate;
        animation-delay: 500ms;
    }
    &>svg:nth-child(6){
        animation: bg2 1s infinite alternate;
        animation-delay: 600ms;
    }
    &>svg:nth-child(7){
        animation: bg2 1s infinite alternate;
        animation-delay: 700ms;
    }
    &>svg:nth-child(8){
        animation: bg2 1s infinite alternate;
        animation-delay: 800ms;
    }
    &>svg:nth-child(9){
        animation: bg2 1s infinite alternate;
        animation-delay: 900ms;
    }
    &>svg:nth-child(10){
        animation: bg2 1s infinite alternate;
        animation-delay: 1000ms;
    }
    &>svg:nth-child(11){
        animation: bg2 1s infinite alternate;
        animation-delay: 1100ms;
    }
    &>svg:nth-child(12){
        animation: bg2 1s infinite alternate;
        animation-delay: 1200ms;
    }
    
}


.bg3{
    width: 100vw;
    position: fixed;
    bottom: 0;
    display: flex;
    z-index: -1000;
    justify-content: space-around;
    &>svg{
        width: 3rem;
        fill: yellow;
        position: relative;
    }
    &>svg:nth-child(1){
        animation: bg3 1s infinite alternate;
        animation-delay: 100ms;
    }
    &>svg:nth-child(2){
        animation: bg3 1s infinite alternate;
        animation-delay: 200ms;
    }
    &>svg:nth-child(3){
        animation: bg3 1s infinite alternate;
        animation-delay: 300ms;
    }
    &>svg:nth-child(4){
        animation: bg3 1s infinite alternate;
        animation-delay: 400ms;
    }
    &>svg:nth-child(5){
        animation: bg3 1s infinite alternate;
        animation-delay: 500ms;
    }
    &>svg:nth-child(6){
        animation: bg3 1s infinite alternate;
        animation-delay: 600ms;
    }
    &>svg:nth-child(7){
        animation: bg3 1s infinite alternate;
        animation-delay: 700ms;
    }
    &>svg:nth-child(8){
        animation: bg3 1s infinite alternate;
        animation-delay: 800ms;
    }
    &>svg:nth-child(9){
        animation: bg3 1s infinite alternate;
        animation-delay: 900ms;
    }
    &>svg:nth-child(10){
        animation: bg3 1s infinite alternate;
        animation-delay: 1000ms;
    }
    &>svg:nth-child(11){
        animation: bg3 1s infinite alternate;
        animation-delay: 1100ms;
    }
    &>svg:nth-child(12){
        animation: bg3 1s infinite alternate;
        animation-delay: 1200ms;
    }
    
}

.bg4{
    width: 100vw;
    position: fixed;
    bottom: 0;
    display: flex;
    z-index: -1000;
    justify-content: space-around;
    &>svg{
        width: 3rem;
        fill: yellow;
        position: relative;
    }
    &>svg:nth-child(1){
        animation: bg4 1s infinite alternate;
        animation-delay: 100ms;
    }
    &>svg:nth-child(2){
        animation: bg4 1s infinite alternate;
        animation-delay: 200ms;
    }
    &>svg:nth-child(3){
        animation: bg4 1s infinite alternate;
        animation-delay: 300ms;
    }
    &>svg:nth-child(4){
        animation: bg4 1s infinite alternate;
        animation-delay: 400ms;
    }
    &>svg:nth-child(5){
        animation: bg4 1s infinite alternate;
        animation-delay: 500ms;
    }
    &>svg:nth-child(6){
        animation: bg4 1s infinite alternate;
        animation-delay: 600ms;
    }
    &>svg:nth-child(7){
        animation: bg4 1s infinite alternate;
        animation-delay: 700ms;
    }
    &>svg:nth-child(8){
        animation: bg4 1s infinite alternate;
        animation-delay: 800ms;
    }
    &>svg:nth-child(9){
        animation: bg4 1s infinite alternate;
        animation-delay: 900ms;
    }
    &>svg:nth-child(10){
        animation: bg4 1s infinite alternate;
        animation-delay: 1000ms;
    }
    &>svg:nth-child(11){
        animation: bg4 1s infinite alternate;
        animation-delay: 1100ms;
    }
    &>svg:nth-child(12){
        animation: bg4 1s infinite alternate;
        animation-delay: 1200ms;
    }
    
}

@keyframes bg {
    0%{
        bottom: 0vh;
    }
    100%{
        bottom: 40vh;
    }
}

@keyframes bg2 {
    0%{
        bottom: 40vh;
    }
    100%{
        bottom: 0vh;
    }
}

@keyframes bg3 {
    0%{
        bottom: 10vh;
    }
    100%{
        bottom: 30vh;
    }
}

@keyframes bg4 {
    0%{
        bottom: 30vh;
    }
    100%{
        bottom: 10vh;
    }
}