body {

    background-color: #2D383A;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#container1 {
    position: fixed;
    padding: 25%;
    background: transparent;
    animation: mycontainer 10s infinite;

    filter: blur(0.3vh);
    border-radius: 50%;
    box-shadow: #FAFA37 0px 2px 1px, #ffffff 0px 4px 2px, #FAFA37 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    z-index: -10;
}

@keyframes mycontainer {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(1440deg);

    }
}

#container2 {
    position: fixed;
    padding: 25%;
    background: transparent;
    animation: mycontainer2 10s infinite;
    margin-left: 50%;
    filter: blur(0.3vh);
    border-radius: 50%;
    box-shadow: #87FF2A 0px 2px 1px, #ffffff 0px 4px 2px, #87FF2A 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    z-index: -10;
}

@keyframes mycontainer2 {
    0% {
        transform: rotate(1440deg);
    }

    100% {
        transform: rotate(0deg);
    }
}




#container3 {
    position: fixed;
    padding: 25%;
    background: transparent;
    animation: mycontainer3 10s infinite;
    margin-left: 25%;
    filter: blur(0.3vh);
    border-radius: 50%;
    box-shadow: #FAFA37 0px 2px 1px, #ffffff 0px 4px 2px, #FAFA37 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    animation-delay: 1s;
    z-index: -10;
}

@keyframes mycontainer3 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(1440deg);
    }
}

#container4 {
    position: fixed;
    margin-left: 25%;
    padding: 25%;
    background: transparent;
    animation: mycontainer4 10s infinite;
    filter: blur(0.3vh);
    border-radius: 50%;
    box-shadow: #87FF2A 0px 2px 1px, #ffffff 0px 4px 2px, #87FF2A 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    animation-delay: 1s;
    z-index: -10;
}

@keyframes mycontainer4 {
    0% {
        transform: rotate(1440deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#calculator {
    max-width: 70vh;
    margin: auto;
    position: relative;
    top: 100px;
    box-shadow: #50BFE6 0px 54px 55px, #50BFE6 0px -12px 30px, #50BFE6 0px 4px 6px, #50BFE6 0px 12px 13px, #50BFE6 0px -3px 5px, #50BFE6 0px 30px 60px -12px inset, #50BFE6 0px 18px 36px -18px inset;
    border-radius: 1vh;
    filter: blur(0.1vh);
    border: 2px solid white;
    color: #50BFE6;
    font-size: 4vh;
    animation: calculators 10s ease-in-out;

}




#answer {
    box-shadow: inherit;
    max-width: 80%;
    margin: 10%;
    padding: 2vh;
    text-align: center;
    border: 1px solid white;
    font-weight: bold;
    cursor: help;
    height: 4vh;
}


#numbers {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 80%;
    margin: 10%;
    gap: 2vh;

}

#numbers>div {
    box-shadow: #50BFE6 0px 54px 55px, #50BFE6 0px -12px 30px, #50BFE6 0px 4px 6px, #50BFE6 0px 12px 13px, #50BFE6 0px -3px 5px;
    cursor: pointer;
    padding: 1vh;
    text-align: center;
    border: 1px solid white;
    font-weight: bold;
    border-radius: 1vh;
    transition: 1s ease-in-out;
    animation: calculators 10s ease-in-out;
    user-select: none;
}

#numbers>div:hover {
    box-shadow: #FAFA37 0px 5px 15px;
    transition: 200ms ease-in-out;
    color: #2D383A;
    background-color: #FAFA37;
    filter: blur(0.2vh);
}

#numbers>div:active {
    transition: 100ms;
    transform: scale(1.1);
}

#resetclear {
    display: grid;
    grid-template-columns: auto auto;
    width: 80%;
    margin: 10%;
    gap: 2vh;

}

#resetclear>div {
    box-shadow: #50BFE6 0px 54px 55px, #50BFE6 0px -12px 30px, #50BFE6 0px 4px 6px, #50BFE6 0px 12px 13px, #50BFE6 0px -3px 5px, #50BFE6 0px 30px 60px -12px inset, #50BFE6 0px 18px 36px -18px inset;
    border: 1px solid white;
    text-align: center;
    border-radius: 1vh;
    padding: 1vh;
    cursor: pointer;
    animation: calculators 10s ease-in-out;
    user-select: none;
}

#resetclear>div:hover {
    transition: 200ms ease-in-out;
    color: #ffffff;
    background-color: #FD0E35;
    box-shadow: #FD0E35 0px 5px 15px;
}

#resetclear>div:active {
    transition: 100ms;
    transform: scale(1.2);

}



@keyframes calculators {
    0% {
        box-shadow: none;
        transform: scale(0);
        color: white;
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}