body{

background-color: #2D383A;

}

#container1{
    position: fixed;
    padding: 25%;
    background:	transparent;
    animation: mycontainer 10s infinite;
  
    filter: blur(0.3vh);
    border-radius: 50%;
    box-shadow: #FAFA37 0px 2px 1px, #ffffff 0px 4px 2px, #FAFA37 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    z-index: -10;
}

@keyframes mycontainer {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(1440deg);

    }
}

#container2{
    position: fixed;
    padding: 25%;
    background:	transparent;
    animation: mycontainer2 10s infinite;
   margin-left: 50%;
    filter: blur(0.3vh);
    border-radius: 50%;
    box-shadow: #87FF2A 0px 2px 1px, #ffffff 0px 4px 2px, #87FF2A 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    z-index: -10;
}

@keyframes mycontainer2 {
    0% {
        transform: rotate(1440deg);
    }
    100%{
        transform: rotate(0deg);
    }
}




#container3{
    position: fixed;
    padding: 25%;
    background:	transparent;
    animation: mycontainer3 10s infinite;
    margin-left: 25%;
    filter: blur(0.3vh);
    border-radius: 50%;
    box-shadow: #FAFA37 0px 2px 1px, #ffffff 0px 4px 2px, #FAFA37 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    animation-delay:1s;
    z-index: -10;
}

@keyframes mycontainer3 {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(1440deg);
    }
}

#container4{
    position: fixed;
    margin-left: 25%;
    padding: 25%;
    background:	transparent;
    animation: mycontainer4 10s infinite;
    filter: blur(0.3vh);
    border-radius: 50%;
    box-shadow: #87FF2A 0px 2px 1px, #ffffff 0px 4px 2px, #87FF2A 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    animation-delay: 1s;
    z-index: -10;
}

@keyframes mycontainer4 {
    0% {
        transform: rotate(1440deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

#calculator{
    max-width: 70vh;
    height: 70vh;
    margin: auto;
    position: relative;
    top: 100px;
    box-shadow: #50BFE6 0px 54px 55px, #50BFE6 0px -12px 30px, #50BFE6 0px 4px 6px, #50BFE6 0px 12px 13px, #50BFE6 0px -3px 5px, #50BFE6 0px 30px 60px -12px inset, #50BFE6 0px 18px 36px -18px inset;
    border-radius: 1vh;
    filter: blur(0.1vh);
    border: 1px solid white;
}


